.tagBannerEightProductPanel:before, .tagBannerEightProductPanel:after {
  content: " ";
  display: table;
}
.tagBannerEightProductPanel:after {
  clear: both;
}

.tagBannerEightProductPanel .bannerAndProductsPanelWrapper .bannerAndProductsPanel .productItemsWrapper .productItemWrapper {
  width: 288px;
  margin-bottom: 16px;
  vertical-align: top;
}
.tagBannerEightProductPanel .bannerAndProductsPanelWrapper .bannerAndProductsPanel .productItemsWrapper .productItemWrapper .imgWrapper {
  width: 100%;
  overflow: hidden;
  display: block;
}
.tagBannerEightProductPanel .bannerAndProductsPanelWrapper .bannerAndProductsPanel .productItemsWrapper .productItemWrapper .imgWrapper > img {
  -moz-transform-origin: center center 50%;
  -ms-transform-origin: center center 50%;
  -webkit-transform-origin: center center 50%;
  transform-origin: center center 50%;
  -moz-transition: all 500ms;
  -o-transition: all 500ms;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}
.tagBannerEightProductPanel .bannerAndProductsPanelWrapper .bannerAndProductsPanel .productItemsWrapper .productItemWrapper .imgWrapper > img:hover {
  -moz-transform: scale(1.05) translate(5px, 0);
  -ms-transform: scale(1.05) translate(5px, 0);
  -webkit-transform: scale(1.05) translate(5px, 0);
  transform: scale(1.05) translate(5px, 0);
}
.tagBannerEightProductPanel .bannerAndProductsPanelWrapper .bannerAndProductsPanel .productItemsWrapper .productItemWrapper .productInfoWrapper {
  height: 70px;
  background-color: white;
  padding-left: 12px;
  padding-right: 12px;
  display: flex;
  align-items: center;
}
.tagBannerEightProductPanel .bannerAndProductsPanelWrapper .bannerAndProductsPanel .productItemsWrapper .productItemWrapper .productInfoWrapper .productInfo {
  width: 100%;
}
.tagBannerEightProductPanel .bannerAndProductsPanelWrapper .bannerAndProductsPanel .productItemsWrapper .productItemWrapper .productInfoWrapper a.name {
  font-size: 16px;
  color: #333333;
  margin-bottom: 8px;
  line-height: 1.2em;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}
.tagBannerEightProductPanel .bannerAndProductsPanelWrapper .bannerAndProductsPanel .productItemsWrapper .productItemWrapper .productInfoWrapper .name:hover {
  color: #999999;
}
.tagBannerEightProductPanel .bannerAndProductsPanelWrapper .bannerAndProductsPanel .productItemsWrapper .productItemWrapper .productInfoWrapper .priceAndNumbers {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tagBannerEightProductPanel .bannerAndProductsPanelWrapper .bannerAndProductsPanel .productItemsWrapper .productItemWrapper .productInfoWrapper .priceAndNumbers .price {
  font-size: 18px;
}
.tagBannerEightProductPanel .bannerAndProductsPanelWrapper .bannerAndProductsPanel .productItemsWrapper .productItemWrapper .productInfoWrapper .priceAndNumbers .price .real {
  color: #333333;
}
.tagBannerEightProductPanel .bannerAndProductsPanelWrapper .bannerAndProductsPanel .productItemsWrapper .productItemWrapper .productInfoWrapper .priceAndNumbers .price .origin {
  color: #999;
  text-decoration: line-through;
  padding-left: 16px;
}
.tagBannerEightProductPanel .bannerAndProductsPanelWrapper .bannerAndProductsPanel .productItemsWrapper .productItemWrapper .productInfoWrapper .priceAndNumbers .numbers {
  color: #999999;
  font-size: 16px;
}
.tagBannerEightProductPanel .bannerAndProductsPanelWrapper .bannerAndProductsPanel .productItemsWrapper .productItemWrapper .productInfoWrapper .priceAndNumbers .numbers > .favorites {
  padding-right: 6px;
}
.tagBannerEightProductPanel .bannerAndProductsPanelWrapper .bannerAndProductsPanel .productItemsWrapper .productItemWrapper .productInfoWrapper .priceAndNumbers .numbers > .reviews {
  padding-left: 12px;
  padding-right: 6px;
}

.tagBannerEightProductPanel .tagsSelectorWrapper {
  background-color: white;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  height: 52px;
  margin-bottom: 20px;
}
.tagBannerEightProductPanel .tagsSelectorWrapper a.tagItem {
  border-bottom: 3px solid white;
  padding-left: 4px;
  padding-right: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #666666;
  text-decoration: none;
}
.tagBannerEightProductPanel .tagsSelectorWrapper a.tagItem.active, .tagBannerEightProductPanel .tagsSelectorWrapper a:hover {
  border-color: #ee303b;
  color: #ee303b;
  text-decoration: none;
}

.tagBannerEightProductPanel {
  padding-bottom: 30px;
}
.tagBannerEightProductPanel .tagsSelectorWrapper {
  margin-bottom: 0px;
}
.tagBannerEightProductPanel .bannerAndProductsPanelWrapper .bannerAndProductsPanel {
  margin-top: 15px;
}
.tagBannerEightProductPanel .bannerAndProductsPanelWrapper .bannerAndProductsPanel .banner {
  width: 340px;
  height: 541px;
  margin-right: 15px;
  margin-bottom: 0px;
  display: inline-block;
}
.tagBannerEightProductPanel .bannerAndProductsPanelWrapper .bannerAndProductsPanel .productItemsWrapper {
  width: 860px;
  height: 556px;
  margin-right: -15px;
  margin-bottom: -15px;
  display: inline-block;
  vertical-align: top;
}
.tagBannerEightProductPanel .bannerAndProductsPanelWrapper .bannerAndProductsPanel .productItemsWrapper .productItemWrapper {
  display: inline-block;
  width: 200px;
  margin-right: 15px;
  margin-bottom: 15px;
}
.tagBannerEightProductPanel .bannerAndProductsPanelWrapper .bannerAndProductsPanel .productItemsWrapper .productItemWrapper .name {
  font-size: 14px;
  margin-bottom: 0px;
}
.tagBannerEightProductPanel .bannerAndProductsPanelWrapper .bannerAndProductsPanel .productItemsWrapper .productItemWrapper .productInfoWrapper {
  height: 63px;
}
.tagBannerEightProductPanel .bannerAndProductsPanelWrapper .bannerAndProductsPanel .productItemsWrapper .productItemWrapper .productInfoWrapper span.promotionPrice {
  font-family: "65Group Roboto Bold";
  font-size: 16px;
  color: #333333;
}

/*# sourceMappingURL=tagbannereightproduct.css.map */
